{% extends 'base.html' %}
{% load static %}


{% block contenido %}
<div id="page-wrapper">

    <!-- Header -->
        <div id="header">

            <!-- Inner -->
                <div class="inner">
                    <header>
                        <h1><a href="{% url 'index' %}" id="logo">Freebooks</a></h1>
                        <hr />
                        <p>"Más libros, más libres"<br><strong style="color: darkgray;">Enrique Tierno Galván</strong></br></p>
                    </header>
                    <footer>
                        <a href="{% url 'carousel' %}" class="button circled scrolly">A leer!</a>
                    </footer>
                </div>
{% endblock contenido %}
    